---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces
    method: GET
  response:
    body: '[{"id":"60e086c24f27a949c058082e","name":"workspace-1","hourlyRate":{"amount":0,"currency":"USD"},"memberships":[{"userId":"60e086c24f27a949c058082d","hourlyRate":null,"costRate":null,"targetId":"60e086c24f27a949c058082e","membershipType":"WORKSPACE","membershipStatus":"ACTIVE"}],"workspaceSettings":{"timeRoundingInReports":false,"onlyAdminsSeeBillableRates":true,"onlyAdminsCreateProject":true,"onlyAdminsSeeDashboard":false,"defaultBillableProjects":true,"lockTimeEntries":null,"round":{"round":"Round
      to nearest","minutes":"15"},"projectFavorites":true,"canSeeTimeSheet":false,"canSeeTracker":true,"projectPickerSpecialFilter":false,"forceProjects":false,"forceTasks":false,"forceTags":false,"forceDescription":false,"onlyAdminsSeeAllTimeEntries":false,"onlyAdminsSeePublicProjectsEntries":false,"trackTimeDownToSecond":true,"projectGroupingLabel":"client","adminOnlyPages":[],"automaticLock":null,"onlyAdminsCreateTag":false,"onlyAdminsCreateTask":false,"timeTrackingMode":"DEFAULT","isProjectPublicByDefault":true},"imageUrl":"","featureSubscriptionType":null},{"id":"60e08781bf81bd307230c097","name":"workspace-2","hourlyRate":{"amount":0,"currency":"USD"},"memberships":[{"userId":"60e086c24f27a949c058082d","hourlyRate":null,"costRate":null,"targetId":"60e08781bf81bd307230c097","membershipType":"WORKSPACE","membershipStatus":"ACTIVE"}],"workspaceSettings":{"timeRoundingInReports":false,"onlyAdminsSeeBillableRates":true,"onlyAdminsCreateProject":true,"onlyAdminsSeeDashboard":false,"defaultBillableProjects":true,"lockTimeEntries":null,"round":{"round":"Round
      to nearest","minutes":"15"},"projectFavorites":true,"canSeeTimeSheet":false,"canSeeTracker":true,"projectPickerSpecialFilter":false,"forceProjects":false,"forceTasks":false,"forceTags":false,"forceDescription":false,"onlyAdminsSeeAllTimeEntries":false,"onlyAdminsSeePublicProjectsEntries":false,"trackTimeDownToSecond":true,"projectGroupingLabel":"client","adminOnlyPages":[],"automaticLock":null,"onlyAdminsCreateTag":false,"onlyAdminsCreateTask":false,"timeTrackingMode":"DEFAULT","isProjectPublicByDefault":true},"imageUrl":"","featureSubscriptionType":null}]'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/user/60e086c24f27a949c058082d/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:59Z
    method: GET
  response:
    body: '[{"id":"60e0ccf4909afe51901a154c","description":"Work with no project","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":false,"taskId":null,"projectId":null,"timeInterval":{"start":"2021-07-03T13:30:00Z","end":"2021-07-03T14:00:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60e0cccf909afe51901a151c","description":"Some
      work with project but no task","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":true,"taskId":null,"projectId":"60e0a9cf5f596c5a7d10d821","timeInterval":{"start":"2021-07-03T13:00:00Z","end":"2021-07-03T13:30:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60e0ccbc4f27a949c058498b","description":"Unit-test
      of clockidup, work with project and task","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":true,"taskId":"60e0a9f00afa073620eade56","projectId":"60e0a9cf5f596c5a7d10d821","timeInterval":{"start":"2021-07-03T12:30:00Z","end":"2021-07-03T13:00:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null}]'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/projects
    method: GET
  response:
    body: '[{"id":"60e0a9cf5f596c5a7d10d821","name":"project-1","hourlyRate":{"amount":0,"currency":"USD"},"clientId":"","workspaceId":"60e086c24f27a949c058082e","billable":true,"memberships":[{"userId":"60e086c24f27a949c058082d","hourlyRate":null,"costRate":null,"targetId":"60e0a9cf5f596c5a7d10d821","membershipType":"PROJECT","membershipStatus":"ACTIVE"}],"color":"#795548","estimate":{"estimate":"PT0S","type":"AUTO"},"archived":false,"duration":"PT1H","clientName":"","note":"","costRate":null,"timeEstimate":{"estimate":"PT0S","type":"AUTO","resetOption":null,"active":false},"budgetEstimate":null,"public":true,"template":false}]'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/projects/60e0a9cf5f596c5a7d10d821/tasks/60e0a9f00afa073620eade56
    method: GET
  response:
    body: '{"id":"60e0a9f00afa073620eade56","name":"task-1","projectId":"60e0a9cf5f596c5a7d10d821","assigneeIds":[],"assigneeId":null,"userGroupIds":[],"estimate":"PT0S","status":"ACTIVE","duration":"PT0S","billable":true,"hourlyRate":null,"costRate":null}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - foo
    url: https://api.clockify.me/api/v1/workspaces
    method: GET
  response:
    body: '{"message":"Full authentication is required to access this resource","code":1000}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
    status: 401 Unauthorized
    code: 401
    duration: ""
[...]
