---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/user/60e086c24f27a949c058082d/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: '[{"id":"60e0ccf4909afe51901a154c","description":"Work with no project","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":false,"taskId":null,"projectId":null,"timeInterval":{"start":"2021-07-03T13:30:00Z","end":"2021-07-03T14:00:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60e0cccf909afe51901a151c","description":"Some
      work with project but no task","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":true,"taskId":null,"projectId":"60e0a9cf5f596c5a7d10d821","timeInterval":{"start":"2021-07-03T13:00:00Z","end":"2021-07-03T13:30:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60e0ccbc4f27a949c058498b","description":"Unit-test
      of clockidup, work with project and task","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":true,"taskId":"60e0a9f00afa073620eade56","projectId":"60e0a9cf5f596c5a7d10d821","timeInterval":{"start":"2021-07-03T12:30:00Z","end":"2021-07-03T13:00:00Z","duration":"PT30M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null}]'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/dummy-workspace/user/60e086c24f27a949c058082d/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: ""
    headers:
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/user/dummy-user-id/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: '{"message":"USER with ID ''dummy-user-id'' not found.","code":501}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 404 Not Found
    code: 404
    duration: ""
