---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/projects
    method: GET
  response:
    body: '[{"id":"60e0a9cf5f596c5a7d10d821","name":"project-1","hourlyRate":{"amount":0,"currency":"USD"},"clientId":"","workspaceId":"60e086c24f27a949c058082e","billable":true,"memberships":[{"userId":"60e086c24f27a949c058082d","hourlyRate":null,"costRate":null,"targetId":"60e0a9cf5f596c5a7d10d821","membershipType":"PROJECT","membershipStatus":"ACTIVE"}],"color":"#795548","estimate":{"estimate":"PT0S","type":"AUTO"},"archived":false,"duration":"PT1H","clientName":"","note":"","costRate":null,"timeEstimate":{"estimate":"PT0S","type":"AUTO","resetOption":null,"active":false},"budgetEstimate":null,"public":true,"template":false}]'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/some-dummy-id/projects
    method: GET
  response:
    body: ""
    headers:
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 68639daebca275727f5fcd33fbbeaa86d3010f812e423e3f2f8cea0e4e7c17a7
    status: 403 Forbidden
    code: 403
    duration: ""
