---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/user/60e086c24f27a949c058082d/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: '[{"id":"60f467daf547ce2601a54b7f","description":"work with no project","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":false,"taskId":null,"projectId":null,"timeInterval":{"start":"2021-07-03T15:30:00Z","end":"2021-07-03T16:45:00Z","duration":"PT1H15M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60f467cbd5588e20a966c8d2","description":"some
      work with project but no task","tagIds":[],"userId":"60e086c24f27a949c058082d","billable":true,"taskId":null,"projectId":"60e0a9cf5f596c5a7d10d821","timeInterval":{"start":"2021-07-03T14:45:00Z","end":"2021-07-03T15:30:00Z","duration":"PT45M"},"workspaceId":"60e086c24f27a949c058082e","isLocked":false,"customFieldValues":null},{"id":"60f467bbf547ce2601a54b59","description":"unit-test
      of clockidup, work with project and task","[...]
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/dummy-workspace/user/60e086c24f27a949c058082d/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: ""
    headers:
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 1ab87e9cee4628aa38414e00f671b439f610886e3af634c98eccee9bbf22e4fc
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces/60e086c24f27a949c058082e/user/dummy-user-id/time-entries?start=2021-07-03T00:00:00Z&end=2021-07-03T23:59:00Z
    method: GET
  response:
    body: '{"message":"USER with ID ''dummy-user-id'' not found.","code":501}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - 1ab87e9cee4628aa38414e00f671b439f610886e3af634c98eccee9bbf22e4fc
    status: 404 Not Found
    code: 404
    duration: ""
