---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces
    method: GET
  response:
    body: '[{"featureSubscriptionType":null,"hourlyRate":{"amount":0,"currency":"USD"},"id":"fake-id","imageUrl":"","memberships":[{"costRate":null,"hourlyRate":null,"membershipStatus":"ACTIVE","membershipType":"WORKSPACE","targetId":"fake-target-id","userId":"fake-user-id"}],"name":"Maël
      Valais''s workspace","workspaceSettings":{"adminOnlyPages":[],"automaticLock":null,"canSeeTimeSheet":false,"canSeeTracker":true,"defaultBillableProjects":true,"forceDescription":false,"forceProjects":false,"forceTags":false,"forceTasks":false,"isProjectPublicByDefault":true,"lockTimeEntries":null,"onlyAdminsCreateProject":true,"onlyAdminsCreateTag":false,"onlyAdminsCreateTask":false,"onlyAdminsSeeAllTimeEntries":false,"onlyAdminsSeeBillableRates":true,"onlyAdminsSeeDashboard":false,"onlyAdminsSeePublicProjectsEntries":false,"projectFavorites":true,"projectGroupingLabel":"client","projectPickerSpecialFilter":false,"round":{"minutes":"15","round":"Round
      to nearest"},"timeRoundingInReports":false,"timeTrackingMode":"DEFAULT","trackTimeDownToSecond":true}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Expected-Client-Version:
      - 1.0.0
      X-Application-Context:
      - application:file.S3,payment.stripe,newsletter,email.mandrill,logstash,default,prod
      X-Auth-Checksum:
      - f3be8ab1a64c487a1f5e83013714f138f6b2f6d429d38c15cf97d364e7afc325
      X-Host:
      - api.clockify.me
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Api-Key:
      - redacted-token
    url: https://api.clockify.me/api/v1/workspaces
    method: GET
  response:
    body: '{"code":1000,"message":"Full authentication is required to access this
      resource"}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
    status: 401 Unauthorized
    code: 401
    duration: ""
